VUE_APP_APP_NAME=Piltonet
VUE_APP_NODE_ENV=production
VUE_APP_NODE_PORT=8080
VUE_APP_URL=https://piltonet.com/
VUE_APP_API_URL=https://api.piltonet.com/
VUE_APP_DEFAULT_NETWORK=
VUE_APP_CIRCLE_CONTRACT=
VUE_APP_CIRCLES_MIN_MEMBERS=3
VUE_APP_CIRCLES_MAX_MEMBERS=15
VUE_APP_CIRCLES_MIN_MONTHLY_PAYMENT_IN_VENOM=
VUE_APP_CIRCLES_MAX_MONTHLY_PAYMENT_IN_VENOM=
VUE_APP_CIRCLES_MIN_MONTHLY_PAYMENT_IN_USDT=
VUE_APP_CIRCLES_MAX_MONTHLY_PAYMENT_IN_USDT=
VUE_APP_CIRCLES_MAX_CREATOR_EARNINGS=
VUE_APP_CIRCLES_SERVICE_CHARGE_X10000=
VUE_APP_VENOM_SERVICE_ADMIN_ADDRESS=
VUE_APP_VENOM_SERVICE_CHARGE_ADDRESS=