APP_NAME=Piltonet
NODE_ENV=production
NODE_PORT=3000
APP_DOMAIN=https://piltonet.com/
APP_URL=https://piltonet.com/
APP_API_URL=https://api.piltonet.com/
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=piltonet
DB_USERNAME=postgres
DB_PASSWORD=1234
JWT_SECRET=
CIPHER_INITVECTOR=
CIPHER_SECURITY_KEY=
NETWORK_CHAINID=
NETWORK_NAME=
PILTONET_CIRCLES_SERVICE_CHARGE=
VENOM_SERVICE_ADMIN_ADDRESS=
VENOM_SERVICE_ADMIN_SID=
VENOM_SERVICE_CHARGE_ADDRESS=